POSTGRES_USER=capturio
POSTGRES_PASSWORD=changeme
POSTGRES_DB=capturio
SECRET_KEY=changeme_replace_with_64_random_chars
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
PHOTOS_DIR=/photos
CACHE_DIR=/app/cache
APP_PORT=8000
